 .firstH1{
  width: 671px;
  height: 128px; 
  flex-grow: 0;
  margin: 144px 314px 20px 315px;
  /* padding: 13px 114px 72px 489px; */
  font-family: Switzer;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal; 
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #202229;
}

.firstP{
  width: 582px;
  height: 64px;
  flex-grow: 0;
  margin: 20px 359px 30px;
  opacity: 0.8;
  font-family: Switzer;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #202229;
}

.SecondCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 /* width: 920px; */
  /* height: 230px; */
  flex-grow: 0;
  margin: 40px 190px 0;
  padding: 15px 98px 30px 65px;
  border-radius: 15px;
  background-color: #f8f8f8;
}


.click {
  text-align: center;
  width: 50%;
  height: 44px;
  flex-grow: 0;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #c7f4c2;

}

.unclick {
  text-align: center;
  width: 50%;
  height: 44px;
  flex-grow: 0;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #d2d2d2;
  color: #202229;
}


